/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/old/
/.sass-cache/
/.settings/
/bin/
/composer.phar
/composer.bat
/composer
/.project
/.buildpath
/composer.json
/composer.lock