// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

//config custom
@import "config";

@font-face {
	font-family: 'pixel_venture';
	src: url('web/assets/font/pixel1/3Dventure.ttf') 	;
}

@font-face {
    font-family: pixelfont; /*a name to be used later*/
    src: url('web/assets/font/pixel2/slkscr.ttf'); /*URL to font*/
}

@font-face {
    font-family: pixelfont-e; /*a name to be used later*/
    src: url('web/assets/font/pixel2/slkscre.ttf'); /*URL to font*/

}

@font-face {
    font-family: pixelfont-b; /*a name to be used later*/
    src: url('web/assets/font/pixel2/slkscrb.ttf'); /*URL to font*/
}

@font-face {
    font-family: pixelfont-eb; /*a name to be used later*/
    src: url('web/assets/font/slkscreb.ttf'); /*URL to font*/
}

@media print {
	
}

html, body{
	height: 100%;
}	
.main_header{
	//font-family: pixel_venture;
	background: #222;
	padding-left: 20px;
	height: 40px;
}

.gidClick {
	cursor: pointer;
}

.action {
	font-size: 22px;
	height: 40px;
	padding: 2px;
}

.menu {
	height: 40px;
}

.leftPanel {
	background: #6A93B7	;
	height: 100%;
}
.main_title {
	color: #17CBFF;
	font-size: 28px;
}

.inputGroup {	
	input[type="text"] {
		width: 100%;
		}
}

.table {
	font-size: 12px;
}

.col-md-05 {
	width: 20%;
	text-align: center;
}