{% extends "AppBundle:Accueil:index.html.twig" %}

{% block middle_content  %}
<table class="table-condensed table-hover table-stripped table">
	<thead>
		<tr>
			<th>
			    {{ 'app.list.column1' | trans }}
			</th>
			<th>
				{{ 'app.list.column2' | trans }}
			</th>
		</tr>
	</thead>
	<tbody class="dl_list">
	</tbody>
</table>
{% endblock %}