{% extends "AppBundle:Accueil:index.html.twig" %}

{% block right_content %}
<div id="rightContent" class="row">
	<div class="row">
		<div id="status">Status</div>
		<div id="data"></div>
	</div>
	<div class="row">
		<div id="status">Size</div>
		<div id="data"></div>
	</div>
	<div class="row">
		<div id="status">Speed</div>
		<div id="data"></div>
	</div>
	<div class="row">
		<div id="status">Parts</div>
		<div id="data"></div>
	</div>
	<div class="row">
		<div id="status">Parts lenght</div>
		<div id="data"></div>
	</div>
	<div class="row">
		<div id="status">Nbr. connexions</div>
		<div id="data"></div>
	</div>
	<div class="row">
		<div id="status">Error message</div>
		<div id="data"></div>
	</div>
	<div class="row">
		<div id="status">Saved to</div>
		<div id="data"></div>
	</div>
	<div class="row">
		<div id="status">Files</div>
		<div id="data"></div>
	</div>
</div>
{% endblock %}