{% extends "::base.html.twig" %}

{% block javascripts %}
<script type="text/javascript">

var url = 'http://downloader-dev:6800';

$(document).on('click', '#addUriAction', function(e){
	console.log($('#inputAddUri').val());
	var uri = $('#inputAddUri').val();
	//http://9e5p4g.alld.io/dl/12ttqhc4620/John.Wick.Chapter.2.2017.TRUEFRENCH.BDRip.x264-EXTREME.mkv
	addUri(uri);
});

function addUri(uri){
	var data = JSON.stringify({id : "qwer", jsonrpc : "2.0", method : "aria2.addUri", params : "['" + uri + "']"})
	$.ajax({
		url : url,
		data : data,
		crossDomain: true,
		type : 'POST',
		dataType : 'jsonp',
		success : function(data){
			console.log(data);
			$('#result').append('<div>dl en cours ...</div>');
		},
		error : function(data) {
			console.log(data);
			alert('error occured');
		}
	});
}

</script>
{% endblock %}

{% block title %}
{{ 'app.common.title' | trans }}
{% endblock %}


{% block body %}
<section>
	<div>
		Ajouter une URL
	</div>
	<div>
		<input id="inputAddUri" type="text" placeholder="Indiquer une url ici">
		<button id="addUriAction">Go</button>
	</div>
	<div id="result">
	</div>
</section>
{% endblock %}
